@page
@model IndexModel
@{
    ViewData["Title"] = "Programa de Inversiones Personales";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p style="margin:20px"> Programa demostracion de prueba tecnica.</p>
    <div style="margin:20px 20px">
        <form method="post">
            <button type="submit" class="bytn btn-primary" >Comencemos ...</button>
        </form>
    </div>
</div>
